:root {
    --primary: #FFFFFF;
    --secondary: #7e7e7e;
    --button: #ffffff;
    --bg: #101012;
    --rgb: linear-gradient(33deg, rgba(63, 169, 245, 1) 0%, rgba(122, 201, 67, 1) 25%, rgba(255, 147, 30, 1) 50%, rgba(255, 29, 37, 1) 75%, rgba(255, 123, 123, 1) 100%);
    --button-rgb: linear-gradient(33deg, rgba(63, 169, 245, 1) 0%, rgba(122, 201, 67, 1) 50%, rgba(255, 123, 123, 1) 100%);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* scroll-snap-type: y proximity;
    scroll-margin: 45dvh; */
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("cursor.png");
    height: 6px;
    width: 5px;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1000;
    transition: width 0.1s, height 0.1s, border 0.1s, transform 0.1s;

    box-shadow: 1px 1px 10 10px black;
}

.jump-button {
    position: fixed;
    bottom: 1dvw;
    right: 1dvh;
    height: 1em;
    width: 1em;
    padding: 15px;
    border: none;

    cursor: none;

    font-family: "space-mono", sans-serif;
    font-weight: 100;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: width 1s ease-in-out;

    border: 2px solid var(--primary);
    /* border-radius: 15%; */

    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease-in-out
}

.jump-button img {
    height: 100%;
}

.jump-button:hover {
    opacity: 1;
}

@keyframes button-hover-in {

    10% {
        background: rgba(255, 154, 0, 1);
        color: #0e1c26;
        border: none;

    }

    100% {
        background: var(--button-rgb);
        color: #0e1c26;
        border: none;
        transform: scale(1.1);

        border-radius: 10px;

        font-weight: 500;
    }
}

@keyframes button-mobile {

    10% {
        background: var(--primary);
        color: #0e1c26;
        border: none;

    }

    50% {
        background: var(--button);
        color: #0e1c26;
        border: none;
        transform: scale(1.1);

        border-radius: 10px;

        font-weight: 500;
    }

    100% {
        background: var(--primary);
        color: #0e1c26;
        border: none;

    }
}

@keyframes button-hover-out {
    0% {
        background: var(--button);
        color: #0e1c26;
        border: none;
        transform: scaleX(1.1);
    }

    100% {
        background: transparent;
        color: white;
        border: 1px solid white;
        transform: scaleX(1);


    }
}

body {
    background-color: var(--bg);
    color: white;
    justify-content: center;

    cursor: none;
}



.main-wrapper {

    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 0 10vw 0 10vw;

}

h1 {
    font-family: "tt-travels-next", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: 0;

    font-size: 1.5em;
}

header {
    width: 100%;
    justify-content: center;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    color: var(--secondary);
    align-items: center;
    align-content: center;
    display: flex;
}

.nav-list li a {
    font-family: "space-mono", sans-serif;
    padding: 10px;
    color: var(--secondary);
    text-decoration: none;
    cursor: none;

    transition: color 0.25s ease-in-out;

    display: flex;
    align-items: center;
}

.nav-list li a:hover {

    color: var(--primary);

}

.nav-list li a:hover svg {
    fill: var(--primary);
}

#github {
    fill: var(--secondary);
    margin-left: 10px;
    transform: translateY(-7.5%);
    transition: fill 0.25s ease-in-out;
}

#github-link:hover #github {
    fill: var(--primary);
}

section {
    height: 100dvh;
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

#title {
    justify-content: start;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 70dvh;
    width: 80dvw;
}

.name-box {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.name-title {
    font-family: "tt-travels-next", sans-serif;
    font-weight: 800;

    background: var(--primary);
    font-size: 8em;
    background-clip: text;
    color: transparent;
    margin: 0;
    margin-bottom: 0.1em;
}

.space {
    width: 30px;
}

.name-subtitle {
    font-family: "space-mono", sans-serif;
    font-weight: 200;
    font-size: 3.5dvh;
    color: #FFFFFF;

    letter-spacing: 25px;

    margin-top: 0;
}

.continue-button {

    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    /* Weißer Text */
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    cursor: none;
    overflow: hidden;
    transition: color 0.1s ease;
    letter-spacing: 5px;

    font-family: "Bahnschrift", sans-serif;
    font-weight: 100;

    animation: button-hover-out 0.25s ease forwards;

    margin-top: 50px;
}

.continue-button:hover {

    animation: button-hover-in 0.5s ease forwards;
    transform-origin: center;

    font-weight: 400;
}

h3 {
    font-family: "space-mono", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    margin: 0;
    font-size: 2em;
}

p.subtext {
    font-family: "space-mono", sans-serif;
    font-weight: 100;
    font-style: normal;
    opacity: 0.5;
    margin: 0;

}

p {
    font-family: "space-mono", sans-serif;
    font-weight: 200;


    font-size: 1.1em;

    max-width: 80ch;
    line-height: 1.8em;

    text-align: justify;




}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.photo {
    margin-left: 5dvw;
    filter: contrast(1.5) brightness(0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

#photo {
    width: 20dvw;
    height: 20dvw;
    border-radius: 35%;
    opacity: 0.4;
    margin-right: 5dvw;
    filter: contrast(0.9) brightness(1.1);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;

}

.am-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

h1.section-heading {
    font-size: 1.5em;
    margin-bottom: 5dvh;
    white-space: nowrap;
}

.line {
    height: 6dvw;
    margin-left: 2.5dvw;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;

    transition: transform 0.25s ease-in-out;
}



td.project {
    width: 33.3dvw;
    height: 17.5dvw;
    max-width: 33.3dvw;
    max-height: 17.5dvw;


    overflow: hidden;

    position: relative;
    padding: 0.25dvw;


}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    display: flex;
    align-items: end;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.overlay h3 {
    font-size: 120%;
}



h3.overlay-heading {
    font-family: "space-mono", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    margin: 0;

    position: relative;
    bottom: 7.5%;
    left: 5%;
    transition: display 0.5s ease-in-out;
}





#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table.contact-table {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    height: auto;

    margin-top: 15%;

    font-family: "space-mono", sans-serif;
}

a.contact-link {
    font-family: "space-mono", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.25s ease-in-out;
}


.contact-table td {
    display: inline-block;
    align-items: center;
    flex-direction: row;
}

img.contact-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#loadingGif {
    background-color: #0e1d2b;
}

#intro-heading {
    font-size: 3.5em;
    margin: 0;

}

.popup {
    display: none;

    height: 100vh;
    width: 100vw;

    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80dvh;
    width: 60dvw;
    border-radius: 0.5dvw;

    padding: 0 0 0 2dvw;

    background-color: rgb(15, 15, 17);
    box-shadow: 0 0 100px 5px black;
}

.close-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
    width: 100%;
}

.close {
    height: 0.75dvw;
    padding: 1%;
    margin: 1%;
}

.close:hover {
    background: #FFFFFF10;
}

.popup-header {
    display: flex;
    width: 100%;
    color: white;
    margin-bottom: 1%;
}

.popup-header .section-heading {
    margin: 0;
}

.program-icon {
    width: 3%;
    object-fit: cover;
    opacity: 1;
    border-radius: 20%;
    margin-right: 1%;

}

.programs-wrapper {
    margin-bottom: 2%;
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: scroll;
}

.popup-text {
    margin-bottom: 3%;
}

img.popup-img {
    width: 50%;
}

@media (pointer:none),
(pointer:coarse) {

    html {
        max-width: 100dvw;
    }

    .main-wrapper {
        padding: 0 5dvw 0 5dvw;

    }

    .cursor {
        display: none;
    }

    .nav-list li a {
        font-size: 1em;
        width: 100%;
        white-space: nowrap;

    }

    .nav-list li {

        display: flex;
    }

    .nav-list {

        justify-content: center;
        margin: 0 auto;
    }

    header {
        justify-items: center
    }

    .jump-button {
        display: none;
    }

    body {
        cursor: none;
        max-width: 100dvw;
        align-items: center;
    }

    .jump-button {
        right: 2.5dvw;
        bottom: 2.5dvw;
    }


    .title-wrapper {
        display: flex;
        flex-direction: column;


        height: auto;
        width: 100dvw;

        margin-top: 50dvh;
    }

    .name-title {
        display: block;

        font-size: 5em;
        margin: 0;
    }

    .space {

        width: 100px;
    }

    .name-subtitle {
        display: block;
        width: 100dvw;
        font-size: 1.25em;
        letter-spacing: 15px;

        margin-top: 2%;
    }

    .name-box {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #title {
        justify-content: start;


    }

    .continue-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 5%;
    }

    .continue-button {

        font-size: 1.1em;
        letter-spacing: 5px;
    }

    .continue-button:hover {
        animation: none;
    }



    #about-me {
        padding-top: 5dvh;
        align-items: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    section {
        height: 100dvh;
    }

    #introH3 {
        font-size: 1.75em;
    }

    #intro {
        display: flex;
        justify-content: start;
        width: 100%;
        height: auto;

        flex-direction: column;
    }

    /* .photo {
        display: flex;
        width: 100%;   
        justify-content: start;
        margin: 0;
    }

    #photo {
        width: 100%;
        height: auto;
        border-radius: 0;
        opacity: 0.3;
        border-radius: 50%;
    }    */

    p {
        display: flex;


        text-align: start;
        hyphens: auto;

    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 25dvh;
    }

    .projects-wrapper {
        margin-top: 10dvh;
    }

    .mobile-proj {
        display: flex;
        flex-direction: column;
        align-items: start;

        margin-bottom: 10%;
        border-radius: 5dvw;
        overflow: hidden;
    }

    .mobile-proj img {
        width: 100%;
        height: 40dvh;
        object-fit: cover;
        opacity: 1;

    }

    .info {
        padding-left: 2.5%;
        width: 100%;
        height: auto;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF15;

    }

    .proj-heading-wrapper {
        align-items: start;
        width: 100%;
    }

    .info h3 {
        font-family: "space-mono", sans-serif;
        font-weight: 100;
        text-align: start;
        font-size: 1em;
        padding: 5%;
    }

    .am-title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .line {
        width: 40%;
        height: auto;
        margin-bottom: 5%;
    }

}