@keyframes icon-wiggle {
    0% {
        transform: rotate(0deg) scale(1.2);
    }

    25% {
        transform: rotate(5deg) scale(1.2);
    }

    50% {
        transform: rotate(-5deg) scale(1.2);
    }

    75% {
        transform: rotate(5deg) scale(1.2);
    }

    100% {
        transform: rotate(0deg) scale(1.2);
    }
}

*,
*::before,
*::after {
    padding: 0;
    cursor: none;
}

:root {
    --background: #1549bb;
    --primary: #FFFFFF;
    --bleak: #5b8cf4;
    --bleak-transparent: #5b8cf450;
    --dark: #181818;
    --accent: #eab644;

    --font: "Polymath";
    --transition-time: 0.3s;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

html {
    width: 100%;
}

body {
    position: relative;
    border-radius: 5dvw;
    background: var(--background);

    font-family: var(--font);
    color: var(--primary);
}

.nav-column {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1dvw;

    width: 3dvw;
    height: 100vh;

    * {
        transition: color var(--transition-time) ease-in-out,
            background-color var(--transition-time) ease-in-out,
            background var(--transition-time) ease-in-out,
            border-color var(--transition-time) ease-in-out,
            stroke var(--transition-time) ease-in-out,
            fill var(--transition-time) ease-in-out;
    }

}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer#nav-spacer {
    height: 2dvw;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-logo {
    width: 1.5dvw;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 1.75em;
    margin: .3dvw .3dvw;
    padding: .5dvw .5dvw;
    opacity: .5;
    transition: transform var(--transition-time) ease-in-out border-radius var(--transition-time) ease-in-out;
}

.nav-icon:hover,
.active .nav-icon {
    opacity: 1;
    background: var(--bleak-transparent);
    border-radius: 20%;
}

.nav-icon:hover {

    animation: icon-wiggle 1s infinite ease-in-out;

}

.context-menu {
    color: var(--primary);
    position: absolute;


    left: 4dvw;

    z-index: 2;

    display: none;
    margin: .3dvw 0;
    padding: .5dvw .7dvw;
    background: var(--bleak-transparent);
    border-radius: .5em;

    font-size: 1.25em;
    text-decoration: none;

    white-space: nowrap;

}

.content-container {
    margin: 0 0 0 6dvw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
    width: 80%;
    display: flex;

    scroll-snap-align: center;
}

#welcome {
    font-size: 2dvw;
    align-items: center;
}

.welcome-title-container h1 {
    color: var(--primary);
    font-size: 2.5dvw;

    font-family: "Degular";

    line-height: 130%;

    white-space: nowrap;

    .secondary {
        color: var(--bleak);
        font-size: 1.5em;
    }
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    margin-left: 8dvw;
}

#line {

    height: 4.5em;
    max-width: 6px;
}

a button {

    margin-left: 1.5em;

    text-decoration: none;
    color: var(--primary);
    background: var(--background);
    border: var(--primary) 2px solid;
    border-radius: 5dvw;
    padding: .75dvw 2dvw;

    font-size: .5em;
    font-family: var(--font);
    font-weight: 700;

    letter-spacing: .25em;

}

a button:hover {
    background: var(--primary);
    color: var(--background);


}

#about {
    font-size: 1.8em;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 7.5dvh;

}

.line {
    width: 4px;
    height: 100%;
    opacity: .4;
    background-color: var(--primary);
    margin-right: 1.25em;
}

h1 {
    color: var(--primary);
    font-size: 1.5em;

    font-family: "Degular";

    white-space: nowrap;
}

h1 div {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    color: var(--bleak);
    text-transform: uppercase;
    font-size: .5em;

    letter-spacing: .4em;

    margin-top: -3.5dvh;
}

p {
    font-size: .85em;
    font-family: "Degular";
    line-height: 1.5em;
}

#projects {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    align-items: start;
    justify-content: center;
}

#projects-container {
    width: 80%;
    align-items: start;
}

.carousel-container {

    position: relative;

    width: 70dvw;
    height: 90%;

    align-items: center;

    border-radius: .5em;

    scroll-snap-type: x mandatory;
    /* scroll-margin: 8ch; */
    scroll-behavior: smooth;
    scrollbar-width: none;

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;

    gap: 8ch;

    /* background: rgba(from var(--dark) r g b / 0.2); */
}

.project {

    height: 95%;
    scroll-snap-align: center;

    border-radius: .5em;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
}

.project video {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.project video source {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5em;



}

.project video {
    height: 100%;
    aspect-ratio: 2/1;
    border-radius: .5em;
}

.description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    width: 100%;
    aspect-ratio: 5/.1;


    background: linear-gradient(to top, rgba(from var(--background) r g b / 0.25), transparent);
    border-radius: .5em;

    opacity: .9;

    position: absolute;
    bottom: 0;
    left: 0;

}

.description-container h4 {
    color: var(--primary);

    font-size: .90em;
    font-weight: 400;
    letter-spacing: .05em;

    white-space: nowrap;

    margin-left: 1em;

}

.info {
    height: .75em;
    aspect-ratio: 1/1;

    background-image: url("./resources/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: .5em;

    transition: transform var(--transition-time) ease-in-out;

}

.info:hover {
    transform: scale(1.2);
}

.dummy {
    visibility: hidden;
    scroll-snap-align: unset;
}

.project-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 70dvw;
    margin: 1em 0 1em 0;

    gap: 1em;
}

.project-nav-button {
    aspect-ratio: 1/1;
    height: 1.5em;
    border-radius: .25em;

    background-color: rgba(from var(--dark) r g b / 0.2);

    text-align: center;
}

.project-nav-button:hover {
    background-color: rgba(from var(--dark) r g b / 0.4);
}

.project-nav-button#left {
    background-image: url("./resources/prev.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.project-nav-button#right {
    background-image: url("./resources/next.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#contact {
    font-size: 1.25em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90dvh;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.contact-link {
    color: var(--primary);
    text-decoration-color: var(--bleak);
    text-decoration-thickness: .1em;
    text-underline-offset: .2em;


}

.contact-icon {
    width: 1.25dvw;
    padding: .2dvw .75dvw 0 0;
    opacity: .5;

}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer,
footer a,
footer p {

    font-size: .8dvw;

    font-family: var(--font);

    color: var(--bleak);

    font-weight: 300;
    line-height: 150%;
    text-decoration: none;



    padding: 0;
    margin: 0;
}

footer a {
    display: flex;
    padding: 0 .5em;

    transition: color var(--transition-time) ease-in-out;
}

footer a:hover p,
footer a:hover svg {
    color: var(--primary);
    fill: var(--primary);
}

footer a svg {
    transform: translateY(-.1em);
    padding: 0 .5em;
    fill: var(--bleak);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 10dvh;

}

.cursor {
    position: fixed;
    top: 0;
    left: 0;

    width: 1.5em;

    pointer-events: none;
    z-index: 1000;

    filter: drop-shadow(0.1em 0.2em 0.15em rgba(from var(--dark) r g b / 0.3));
}

#name {
    font-family: 'Degular';
    font-weight: 1000;
    font-size: 1.5em;
}

@media (max-width: 1800px) {

    .project video {
        aspect-ratio: 1/1;
    }
}

@media (max-width: 900px) {

    .carousel-container,
    .project-nav {
        width: 60vw;
    }

    .project,
    .project video {
        height: 50dvw;
        aspect-ratio: 1/1;
    }

    .description-container h4 {
        font-size: .8em;
    }
}